flask
firebase-admin
numpy
pandas
scikit-learn
xgboost
tensorflow
torch
transformers
nltk
joblib
requests
tldextract
python-Levenshtein
python-whois
dnspython
beautifulsoup4
pyquery
lxml
cssselect
tqdm
matplotlib
seaborn
# Downgrade protobuf to a compatible version to avoid AttributeError
protobuf==4.21.12
